
body {
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:0;
    background-color: #fefefe;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  #home_app_bdy_cont{
    display: inline;
    top:0;
    margin: 0;
    background-color: var(--main-bg-color);
  }

  #home_app_bdy_left_cont{
    background-color: #001F49;
    width: 200px;
    height: 100vh;
    position: fixed;    
    box-shadow: 4px 0px 7px #cccccc;
  }
    #home_app_bdy_left_cont_log_cont{
    width: 100%;
    height: fit-content;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #254B7E;
    }
    #home_app_bdy_left_cont_log_tit{
        font-family: quicksand;
        font-weight: 600;
        color:#FEFEFE;
        font-size: 22px;
    }
    .home_app_bdy_order_cont{
    width: 100%;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #254B7E;
    }
    .home_app_bdy_order_cont_tit{
        width: 100%;
        color:#6181AD;
        font-weight: 600;
        font-family: inter;

        padding-left: 20px;
    }
    .home_app_bdy_order_cont_tit_acc{
        width: 100%;
        border-style: none;
        border-color: #001F49;
        background-color: #001F49;
        color:#fefefe
    }
    .home_app_bdy_order_opt_bdy_lnk{
        color: #fefefe;
        width:100%;
        display: inline-flex;
        padding-left: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
        text-decoration: none;
    }
    .home_app_bdy_order_make_cont_lnk{
        color: #6FCF97;
        vertical-align: middle;
        width:100%;
        display: inline-flex;
        padding-left: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-decoration: none;
    }
    .home_app_bdy_order_make_cont_lnk:hover{
        background-color: #081424;
        color:#fefefe;
        text-decoration: none;
    }

    .home_app_bdy_order_opt_bdy_lnk:hover{
        background-color: #081424;
        color:#fefefe;
        text-decoration: none;
    }

.home_app_bdy_cost_cal_opt_bdy_lnk{
    color: #fefefe;
    width:100%;
    display: inline-flex;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
}
.home_app_left_bdy_ico{
    width:22px;
    height: 22px;
    stroke: #fefefe;
    fill:#fefefe;
    margin-right: 7px;
    vertical-align: middle;
}
.home_app_bdy_cost_cal_opt_bdy_lnk:hover{
    background-color: #081424;
        color:#6FCF97;
        text-decoration: none;
}
    .home_app_bdy_order_opt_bdy{
    
        width: 100%;       
        font-size: 16px;
    }
    .home_app_bdy_order_make_cont{
        
        width: 100%;    
        margin-top: 5px;   
        font-size: 16px;
    }
    .home_app_bdy_order_cont_bdy{
        
        margin: 0;
        padding: 0;
        
        padding-top: 10px;
        font-family: inter;
        border-style: none;
        border-color: #001F49;
        background-color: #001F49;
    }
.home_app_bdy_order_cont_tit_tog{
    background-color: #001F49;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
.home_app_bdy_cost_cont_tit{
    width: 100%;
    color:#fefefe;
    font-weight: 600;
    font-family: inter;
    padding-left: 20px;
}













  #home_app_bdy_cent_cont{
      height: 100vh;
      margin-left: 200px;
      
  }

