
.app_bdy_land_main_bdy{

}



.app_float_butt{
     position:fixed;
     right:0;
     bottom:0;
     cursor: pointer;
     background:#6FCF97;
     color:#fefefe;
     font-size:20px;
     padding:15px;
     padding-left:22px;
     padding-right:22px;
     box-shadow: 0px 0px 6px rgb(0,0,0,0.09);
     z-index:20;
     font-family:inter;
}
.app_float_butt_lnk{
     color:#fefefe
}
.app_float_butt_lnk:hover{
     text-decoration:none;
     color:#FEFEFE;
}

#app_land_fix_header{
     position: fixed;
     width: 100%;
     z-index: 10;  
     background-color:#fefefe;
     box-shadow: 0px 6px 6px rgb(0,0,0,0.09);
}

#app_prog_cont{
     width:50%;
     height: 7px;
     background: linear-gradient(89.68deg, #3EDC80 0.24%, #37C5F1 0.24%, #69EDA0 96.47%);
     border-top-right-radius: 32px;
     border-bottom-right-radius: 32px;
     z-index:22;     
     
}


#app_land_stack_1{
     height: 100vh;
     width: 100%;
     background: linear-gradient(130.87deg, #4BC2F2 0%, #44B0FF 45.35%, #6363FF 98.94%);
     z-index: 20px;
}
.app_land_stack_1_lay_class{
     position: absolute;
}
#app_land_stack_1_lay_1{
     width: 100%;
     height: 100%;
     overflow: hidden;
}
#app_land_stack_1_lay_1_eclp_cont{
     width:400px;
     height: 400px;
     display: flex;
  justify-content: center;
  align-items: center;     
     position: absolute;
     bottom:0;
     margin:32px;
     margin-left:0%;
}

#tt{
     width:100%;
height:100px;
background-color: red;
}

#app_land_stack_1_lay_1_eclp_1{

width: 79px;
height: 80px;
border-radius: 320px;
background: #45B0FF;
}
#app_land_stack_1_lay_1_eclp_2{
     width: 77px;
height: 77px;
margin-left: 32px;
margin-top: 30px;
border-radius: 320px;
background: #44AFFF;
}

#app_land_stack_1_lay_1_eclp_3{
     width: 49px;
     height: 50px;
     margin-top: 160px;
     margin-left: -130px;
     border-radius: 320px;
     background: #44AFFF;
}
#app_land_stack_1_lay_1_grid_cont{
     width:fit-content;
     height: fit-content;
     display: flex;
  justify-content: center;
  align-items: center;     
     position: absolute;
     bottom:0;
     margin-bottom: -100px;;
     margin-left:50%;

}

#app_land_stack_1_lay_2{
     width: 100%;
     padding: 22px;
     height: 100%;
     
}
#app_land_stack_1_lay_2_dat{
     width: 100%;
     height: 100%;
     border-radius: 6px;
     border: 1px solid #fefefe;
    
}
#app_land_stack_1_lay_2_dat_head_cont{
     height: 72px;
     width: 100%;
     background-color: #fefefe;   
     display: inline-flex;
     
}
#app_land_stack_1_lay_2_dat_head_logo_cont{
     height: 100%;
     
     width: fit-content;
     padding-left: 32px;
padding-right: 12px;
display: flex;
  justify-content: center;
  align-items: center;
}    
#app_land_stack_1_lay_2_dat_head_logo{
font-size: 22px;
font-weight: 600;
font-family: quicksand;
color:#000000;
}
#app_land_stack_1_lay_2_dat_head_logo_phn{
     font-size: 21px;
font-weight: 600;
margin-left: 32px;
font-family: quicksand;
color:#000000;

}


#app_land_stack_1_lay_1_iph_cont{
     width:fit-content;
     height: fit-content;
     display: flex;
  justify-content: center;
  align-items: center;     
     position: absolute;
     bottom:0;
     right:0;
     margin-right:80px;
     margin-bottom: 150px;
     
}

#app_land_stack_1_lay_2_dat_head_lnk_cont{
     display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 22px;
}

#bow_cont{
     width: 300px;
     height: 32px;
     background-color: #f1f1f1;
     border-radius: 320px;
}

.pp_land_stack_1_lay_2_dat_head_lnk_class{
     display: inline;
     width: 100%;
     cursor: pointer;
     margin-right: 20px;
}

.app_land_stack_1_lay_2_dat_head_lnk_1{
     color:#ABABAB;
     
}

.app_land_stack_1_lay_2_dat_head_lnk_1:hover{
     color:#6EBFFC;
     text-decoration: none;
     
}

#app_land_stack_1_lay_2_dat_head_lnk_3_cont{
     width: 100%;
     
}
#app_land_stack_1_lay_2_dat_head_lnk_2{
     margin-left:32px;
     color:#ABABAB;
}
#app_land_stack_1_lay_2_dat_head_lnk_3{
     margin-left:32px;
     color:#6FCF97;
}
#app_land_stack_1_lay_2_dat_head_ext{
     height: 100%;
     width: 100%;
     
}
#app_land_stack_1_lay_2_dat_head_ext_data{
     width: 100px;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     float: right;
}
#app_land_stack_1_lay_2_dat_head_ext_data_ecl_2{
     width: 18px;
     height: 18px;
     border-radius: 320px;
     background-color: #EE6A5E;
     margin-right: 10px;
}
#app_land_stack_1_lay_2_dat_head_ext_data_ecl_3{
     width: 18px;
     margin-right: 10px; 
     height: 18px;
     border-radius: 320px;
     background-color: #F8E7AA;
}
#app_land_stack_1_lay_2_dat_head_ext_data_ecl_1{
     width: 18px;
     margin-right: 10px; 
     height: 18px;
     border-radius: 320px;
     background-color: #6FCF97;
}


#app_land_stack_1_lay_2_dat_bdy_cont{
width: 100%;
height:fit-content;
margin-top: 32px;
}
#the_x{
     
font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 102px;
line-height: 121.5%;
color: #145789;
padding-left:16px;
padding-right:16px;
}
#app_land_stack_1_lay_2_dat_bdy_main_moto_cont_bdy{
     text-align: center;
     font-size:92px;
     font-family:roboto;
}
#lmt_anim_txt_cont{
     
     margin-left:20px;
     margin-right: 20px;
     display: inline;
}
#lmt_anim_txt{
     max-width: 700px;
     min-width: 700px;
     width: 700px;
     color:#fefefe;
     font-size: 57px;
     font-family: quicksand;
   

}
@keyframes lmt_blink_anim {
     from {
          background-color: rgb(255,255,255,1);
     }
     to {
          background-color: rgb(255,255,255,0);    
     }
   }

#lmt_anim{
     height: 52px;
     width: 7px;
     display: none;
     margin-bottom: -10px;
     margin-left: 5px;
     border-radius: 32px;
     animation-name: lmt_blink_anim;
     animation-duration: 0.5s;
     animation-iteration-count: infinite;
}


#lmt_anim_txt_bdy{
     display: inline-flex;
     margin-left: 22px;
}

#app_land_stack_1_lay_2_dat_bdy_main_moto_cont{

margin-top: 10%;
font-family: Quicksand;
display: flex;
justify-content: center;
align-items: center;
color:#FEFEFE;
font-style: normal;
font-weight: bold;
font-size: 57px;
}
#app_land_stack_1_lay_2_dat_bdy_sub_moto_cont{
     font-family: Quicksand;
font-style: normal;
color:#FEFEFE;
font-weight: 500;
font-size: 18px;
line-height: 121.5%;
text-align: center;
display: flex;
margin-top:10px     ;
justify-content: center;
align-items: center;

}
#app_land_stack_1_lay_2_dat_bdy_sub_moto_dat_cont{
     width: 90%;
     font-family: roboto;
     text-align: center;
     font-size: 20px;
     line-height: 30px;
}
#app_land_stack_1_lay_2_ext_1_cont{
     position: absolute;
     width: 300px;
     height: 300px;
     bottom:0;
     left:0;
     margin:32px;
}
#app_land_stack_1_lay_2_ext_1_sid_1{
     
     text-align: center;
     font-family: quicksand;
     font-style: normal;
     font-weight:400;
     font-size: 25px;
     line-height: 158%;
     color: #ADDCFF;   
     position: absolute;  
     margin-left: -62px;
     bottom:0;
     margin-bottom:62px;
     transform: rotate(90deg);

}
#app_land_stack_1_lay_2_ext_1_sid_2{
          position: absolute;
          bottom:0;
     margin-left: 12px;
     margin-bottom: 5px;          
     text-align: center;
     font-family: Inter;
     font-style: normal;
     font-weight: 600;
     font-size: 20px;
     line-height: 158%;
     color: #ADDCFF;
}
/*////////////////////////////////////////////////////*/
#app_land_stack_2_2{
     height:650px;
     width: 100%;
     position: relative;
}    

#app_land_stack_2_2_lft_tit{
     font-weight: 700;
     font-family: inter;
     font-size: 42px;
     color: #145789;
}

#app_land_stack_2_2_lft_cont{
     font-family: quicksand;
     font-weight: 400;
     
     margin-top: 10px;
     font-size: 19px;
     line-height: 2;
     letter-spacing: 0px;
}

#app_land_stack_2_2_lft{
     position: absolute;
     width: 60%;
height: auto;
margin:10%;

}
#app_land_stack_2_2_lft_slop{
     position: absolute;
     width: 100%;
     height: 300px;
     bottom: -50%;
     z-index:-10;
     background-color: #FDF8F1;
     transform: skewY(7.5deg);
     transform-origin: 100%;    
}

#app_land_stack_2_2_rgt_ico{
     height: 650px;    
     position: absolute;
     right: 0;
     z-index:-10;
}


/*///////////////////////////////////////////////////////////////////////*/
#app_land_stack_2{
     width: 100%;
     height: 100%;
     padding: 82px;
     
}
#app_land_stack_2_dat_cont{
     display: inline-flex;
     width:100%;
     height: 100%;
     padding-top: 5%;
     padding-left: 10%;
     padding-right: 10%;
     display: flex;
     justify-content: center;
     align-items: center;         
}
#app_land_stack_2_dat_1{

}

@keyframes loading_anim {
     from {
          width:0%
     }
     to {
     width: 100%;
     }
   }
   
   

   #app_land_stack_2_dat_2{
     height: 32px;
     width: 50%;
     border-radius: 320px;
     font-family: quicksand;
     font-size: 27px;
     padding:0px;
     font-weight: 600;
     background: #fefefe;
     

}
#app_land_stack_2_dat_2_anim{
     width:0%;
     height: 100%;
     margin:0px;
     border-radius: 320px;
     animation-name: loading_anim;
     animation-duration: 1s;
     animation-iteration-count: infinite;
     background: linear-gradient(90deg, rgba(166, 255, 218, 0) 0%, #61FFBD 100%);
}



#app_land_stack_2_tit{   
     width: 100%;
     height: 82px;
     text-align: center;
     color:#212121;
     font-family: inter;
     font-size: 28px;
     background-color: #f1f1f1;
}

/*///////////////////////////////////////////////////////////*/
#app_land_stack_3{
     width: 100%;
     height: auto;
     background: inherit;
     bottom: 0;
     left: 0;
     right: 0;
    
background: linear-gradient(180deg, #FDF8F1 0%, #FFFFFF 97.92%, rgba(253, 248, 241, 0) 100%);
     padding-bottom: 22px;    
     padding-top: 42px;    
}

#app_land_stack_3_bdy{

}

#app_land_stack_3_head_main_cont{
     font-size: 42px;
     width: 100%;
     font-family: roboto;
     font-style: normal;
     font-weight: bold;
     line-height: 121.5%;
     color: #37364D;
     display: flex;
     justify-content: center;
     align-items: center;         
     margin:0;
     background-color:  rgb(0,0,0,0.0);
     
}
#app_land_stack_3_head_bdy_cont{
     height: 100%;
     width: 100%;
     margin-top:0px;
     display: inline-flex;
}


#land_col_1{
     width: 50%;
     padding: 62px;
     
     }
     
     #land_col_2{
          
          padding: 62px;
          width: 50%;
     }
#land_rw1_cl_1{
     
     width: 100%;  
     padding-bottom: 51px;   
     border-bottom: 1px solid #e0e0e0;
}
#land_rw1_cl_2{
     margin-top: 51px;
     width: 100%;
     
}
#land_rw2_cl_1{
     width: 100%;
     
     padding-bottom: 51px;   
     border-bottom: 1px solid #e0e0e0;
}
#land_rw2_cl_2{
     margin-top: 51px;
     width: 100%;     
     margin-bottom: 62px;
}

.app_land_stack_3_head_bdy_dat_class{
width:100%;
height: 100%;
display: block;

}
.app_land_stack_3_head_bdy_dat_ico_class{
width: 100%;     
height: 25%;
display: flex;
  justify-content: center;
  align-items: center;    
   
}
.app_land_stack_3_head_bdy_dat_info_class{
     
     width: 100%;
     height: 100%;

}

.app_land_stack_3_head_bdy_dat_info_class_tit{
     font-family: quicksand;
     font-size: 20px;
     line-height: 158%;
     /* or 38px */
     display: flex;
     justify-content: center;
     align-items: center;     
     color: #000000;
     font-weight: 600;
     margin-top:32px;
}

#app_land_stack_3_head_main_cont_tit{
     
}


.app_land_stack_3_head_bdy_dat_ico_class_ico{
     height: 150px;
     width: 150px;
}

.app_land_stack_3_head_bdy_dat_info_class_data{

     font-style: normal;
     font-weight: normal;
     font-size: 18px;
     line-height: 158%;
     /* or 30px */
     width: 100%;
     padding-left:52px;
     padding-right:52px;
     text-align: center;
     margin-top:14px;
     color: #000000;
     display: flex;
  justify-content: center;
  align-items: center;     
         font-family: quicksand;
}



/*//////////////////////////////////////////////////*/
#app_land_stack_4{
     width: 100%;
     height: 100vh;
     display: inline-flex;
     position: relative  ;
     
}
#app_land_stack_4_bg{
     position: absolute;
     z-index: -20;
     background: linear-gradient(180deg, #f1f1f1 0%,  #FFFFFF 100%);
     width: 100%;
     height: 50%;
     top:20%;
}
#app_land_stack_4_head_main_cont{
     width: 50%;
     margin-left:32px;
     margin-right:16px;
     background: linear-gradient(131.81deg, #6363FF 0%, #9D9DFF 0.01%, #6363FF 102.58%);
     font-family: quicksand;
     font-style: normal;
     font-weight: bold;
     font-size: 40px;
     line-height: 142%;
     color: #fefefe;
     display: flex;
     justify-content: center;
     align-items: center;         
     height: calc(100%);
     border-radius: 32px;
     padding-left: 72px;
     padding-right: 72px;
}

#app_land_stack_4_data_cont{
     width: 50%;
     height: 100%;
     background-color: #f7f7f7;
     color: #000000;
     border-radius: 32px;
     margin-left: 16px;
     margin-right: 32px;    
}

#car{
     color: #000000;
     width:100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;         
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}

.carousel-indicators li {
     background-color: #bdbdbd;

 }
 .carousel-indicators .active {
     background-color: #000000;
 }

#carIte{
     height: 100%;
     font-family: Quicksand;
     width: 100%;

     color: #000000;
}
#carcap{
     padding-top:32px;
     z-index: 0;
     color: #000000;
}

.app_land_stack_4_data_cont_ico_class{
     width: 100%;
     padding:190px;
}
#capcap{

}


/*////////////////////////////////////////////////////////////////*/
#app_land_stack_5{
     width: 100%;
     height: 100vh;
     background: #5352ED;
     display: inline-flex;
}

#app_land_stack_5_lft_cont{
width: 50%;
height: 100%;
display: flex;
  justify-content: center;
  align-items: center;     
}
#app_land_stack_5_lft_cont_tit{
     color:#FEFEFE;
     font-family: inter;
     font-weight: 800;
     line-height: 120%;
     font-size:72px;
     width: fit-content;
     padding-top: 10px;     
     
}

#app_land_stack_5_rgt_cont{
     width: 50%;
     height: 100%;
     padding:62px;
     display: flex;
  justify-content: center;
  align-items: center;     
}

#app_land_stack_5_rgt_cont_form_cont{
     width: 70%;
     float: right;
     height: 100%;
     background-color: #fefefe;
     box-shadow: 0px 6px 6px rgb(1,1,1,0.3);
     padding:32px;
     border-radius: 8px;
}
.app_setting_main_bdy_tit_main_sub_opt_cont_data{
     width: 100%;
     height: 100%;
     color:#000000;
    
}


#app_land_stack_5_lft_cont_sub_tit{
     color:#FEFEEF;
     font-size:22px;
     font-family: quicksand;
     width: 70%;
     font-weight: 400;
     margin-top: 10px;
}
.app_land_stack_5_lft_cont_sub_data_tit{
     color:#fefefe;
     margin-top:32px;
     font-size:20px;
     font-family: inter;
}
.app_land_stack_5_lft_cont_sub_data{
     color:#FEFEFE;
     font-family: quicksand;
     font-size: 18px;
     margin-top:12px;
}
.app_land_stack_5_lft_cont_sub_data_ico{
     width: 32px;
     height: 32px;
     margin-right: 10px;
}

#app_land_stack_5_rgt_cont_txt{
height: 80px;
width: 100%;
resize: none;
outline: none;
border-style: none;
padding:10px;
}

.app_land_stack_5_rgt_cont_form_cont_sub_butt{
     width:100%;
     height: 52px;
     margin-top:32px;
}

/*////////////////////////////////////////////////////////*/
#app_land_stack_6{
     width: 100%;
     height: 200px;
     background-color: #212121;
     display: inline-flex;
}

#app_land_stack_6_left_cont{
     font-family: Inter;
     font-style: normal;
     font-weight: 800;
     font-size: 60px;
     line-height: 121.5%;     
     color: #FFFFFF;
     display: flex;
  justify-content: center;
  align-items: center;    
  width: 50%;
  height: auto;
}
#app_land_stack_6_rgt_cont{
     width: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     
}
#app_land_stack_6_rgt_data{
     font-family: inter;
     color:#212121;
     font-size: 30px;
     background-color: #fefefe;
     padding-left: 42px;
     padding-right: 42px;
     border-radius: 8px;
     font-weight: 800;
     padding-top: 10px;
     padding-bottom: 10px;
}
/*//////////////////////////////////////////////////////////////////*/

#app_land_stack_8{
     width: 100%;
     height: 100vh;
     background-color: #fefefe;
     display: inline-flex;
     margin:0;
}
.app_land_stack_8_lft{
width: 50%;
margin:0;
height: 100%;
background-color: #000000;
}
.app_land_stack_8_rgt{
width: 50%;
margin:0;
height: 100%;
padding:72px;
display: flex;
     justify-content: center;
     align-items: center;
}
#app_land_stack_8_rgt_tit{
font-family: roboto;
color:#000000;
font-size:48px;
font-weight:800;
width: 100%;
}

#app_land_stack_8_rgt_tit_sub{
     font-family:quicksand;
color:#000000;
font-size:21px;
font-weight:600;
width: 100%;
padding-bottom: 22px;
}

#app_land_stack_8_rgt_dat{
     font-family: quicksand;
     font-size:20px;
     margin-top:12px;
     color:#000000;
     font-weight: 500;
     
}

#app_land_stack_8_lft_ico{
     width:100%;
     height: 100%;
     box-shadow: 6px 0px 8px rgb(0,0,0,0.09);
}


/*//////////////////////////////////////////////////////////////*/
#app_land_stack_7{
     width: 100%;
     height: auto;
     background-color: #000000;
     display: inline-flex;
     padding:20px;
}
.app_land_stack_7_lnk_logo{
     color:#fefefe;

     font-family: quicksand;
     font-weight:600;
     font-size:15px;     
     padding:10px;  
}    
.app_land_stack_7_lnk_logo:hover{
     color:#FEFEFE;
     text-decoration: none;
}
.app_land_stack_7_lnk_class{
     font-family: inter;
     color:#fefefe;
     padding:10px;
     font-size:13px;
     
}
.app_land_stack_7_lnk_class:hover{
     color:#FEFEFE;
     text-decoration: none;
}

#app_land_stack_7_lft{
display: inline-flex;
width: 50%;
}
#app_land_stack_7_rgt{
width:100%;
height:100%;
padding-bottom: 72px;
display:flex;
justify-content: center;
align-items: center;
}
#app_land_stack_7_rgt_dat{
 
}
.app_land_stack_7_lnk_ico{
     width:32px;
     height:32px;
}




/*///////////////////////////////////////////////////////////////*/
#app_land_stack_9{
     height: 100%;
     width: 100%;
     background-color: #FEFEFE;
}
#app_land_stack_9_tit{
     width: 90%;
     margin-left:5%;
     margin-right: 5%;
     border-bottom: 1px solid #000000;
     padding-top:32px;
     text-align: center;
     padding-bottom:32px;
     font-weight: 500;
     font-family: Elsie;
     font-size:48px;
}

#app_land_stack_9_dat{
     width: 100%;
     display: inline-flex;   
     padding:62px;      
     

}
#app_land_stack_9_dat_col_1{
     width: 50%; 
}
#app_land_stack_9_dat_col_2{
     width: 50%;

}
#app_land_stack_9_dat_ques_cont{
font-family: quicksand;
width: 90%;
padding-bottom: 32px;
margin-bottom: 82px;
border-bottom: 1px solid #000000;
}

#app_land_stack_9_dat_ques_last_cont{
     font-family: quicksand;
     width: 90%;
     padding-bottom: 32px;
     margin-bottom: 82px;
     border-bottom: 1px solid #000000;  
}


#app_land_stack_9_dat_ques_ans{
     font-size:16px;
     margin-top:12px;
     font-weight: 400;
     font-family: inter;
}
#app_land_stack_9_dat_ques_tit{
 font-size:22px;
 font-weight: 600;    
}

/*/////////////////////////////////////////////////////////////////////*/
#app_land_stack_10{
     width: 100%;
     border-top: 1px  solid #bdbdbd;
     border-bottom: 1px solid #bdbdbd;
     text-align: center;
     padding:62px;
     color:#000000;
     font-family: inter;
     font-size: 17px;
}
/*////////////////////////////////////////////////*/
#app_land_stack_11{
display: inline-flex;
width:100%;
height:110vh;
margin:0px;
padding:0px;

}
#app_land_stack_11_lft{
width:50%;
color:#212121;
font-size:38px;
font-family:quicksand;
font-weight: 600;
height:100%;
display: flex;
padding:52px;
justify-content: center;
background-color: rgb(0,0,0,0.0);
position: relative;
}
#app_land_stack_11_lft_ico{
     position: absolute;
     
     width: 100%;
     z-index: -10;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
}

#app_land_stack_11_rgt{
     width:50%;
     
     height:100%;
     color:#000000;
     font-family:inter;
     padding:82px;
     font-size:20px;
     display: flex;
     justify-content: center;
     align-items: center;
}




.app_land_stack_11_rgt_high{
     font-size:22px;
     font-family:quicksand;
     color:#000000;
     font-weight: 800;
     margin-top: 12px;
}
.mail_ico{
     width: 28px;
     height: 28px;
     vertical-align: middle;

}

#app_land_stack_11_rgt_tit{
     color:#000000;
     font-family: quicksand;
     font-weight: 700;
     font-size:42px;
     padding-bottom:32px;
}

/*////////////////////////////////////////////////////////////////////*/
#app_land_stack_12{
     width:100%;
     height:100%;
     background-color: #fefefe;
       display:flex;
      justify-content: center;
      align-items: center;
     padding:16px;   
     padding-bottom:72px;
  }

  #app_land_stack_11_rgt_tit{
     color:#000000;
     font-family: quicksand;
     font-weight: 700;
     font-size:32px;
     padding-bottom:32px;
}


  #app_land_stack_12_lft_sub{
       width: 100%;
       padding-bottom:0px;
       text-align: center;
       font-family:roboto;
       font-size:32px;
       color:#000000;
     
       padding:42px;
       font-weight: 600;     
  }
  
  #app_land_stack_12_lft{
       width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
       text-align: center;
       font-family: quicksand;
       font-size:32px;
       color:#212121;
       font-weight: 700;
     
  }
#app_land_stack_12_lft_dat{
     width: fit-content;
     
     padding-left:20px;
     padding-right:20px;
     font-size: 39px;
     font-family: inter;
}

  #app_land_stack_12_rgt{
       width: 100%;
       padding:10px;
      
  }
  #app_land_stack_12_rgt_dat{
       width:100%;
       font-family: inter;
       color:#000000;
       font-size: 20px;
       padding-top:10px;
     
  }

#app_land_stack_12_rgt_dat_tit{
     font-family: quicksand;
     font-weight: 600;
     font-size: 20px;
     margin-bottom: 22px;
}

.app_land_stack_12_rgt_dat_cont_ico{
     width:25px;    
     
}

.app_land_stack_12_rgt_dat_cont{
font-family: inter;
margin-top: 10px;
font-size: 18px;

}
/*/////////////////////////////////////////////////////////////////////////////*/

#app_land_stack_13{
     width:100%;
     display: inline-flex;
     border-top:1px solid #e0e0e0;
     height: 152px;
     background-color: #212121;
     color:#fefefe;
     font-family: roboto;
     font-size:32px;
     font-weight: 700;
}
#app_land_stack_13_lft{
width:50%;
text-align: center;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}
#app_land_stack_13_rgt{
width:50%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
vertical-align: middle;
font-size:22px;

}

/*//////////////////////////////////////////////////////*/
#app_land_stack_14{
     width:100%;
     display: inline-block;
     height: auto;
     font-size:22px;
     font-weight: 700;
     padding-top:100px;
     padding-left: 20%;
padding-right: 20%;
     background-color: #fefefe;
}
#app_land_stack_14_lft{
width:100%;
padding:42px;
text-align: left;
height: 100%;
}
#app_land_stack_14_lft_tit{
     font-size: 42px;
     font-family: inter;
     color: #32de84;
     padding-bottom:10px;
     vertical-align: middle;
}

.app_land_stack_14_lft_tit_ico{
     width: 52px;
     margin-right:12px;
     color: #32de84;
}

#app_land_stack_14_lft_tit_sub{
     font-family: quicksand;
     font-size: 22px;
     width: 100%;
     line-height: 170%;
     font-weight: 400;
}



#app_land_stack_14_rgt{
width:100%;
height: auto;
display: block;
font-size:22px;
padding-top: 72px;
padding-right: 28px;
position: relative;


}
#app_land_stack_14_rgt_bg{
     position: absolute;
     font-size:92px;
     line-height: 100%;
     padding:22px;
     color:#e0e0e0;
     background: -webkit-linear-gradient( #f5f5f5 ,#e0e0e0  );
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent; 
     font-family: Bebas Neue;
}

#app_land_stack_14_rgt_phn_bdy{
width: 40%;
margin-bottom: 52px;
float: right;
text-align: center;
height: auto;
border-top-left-radius: 8px;
border-bottom-left-radius: 8px;
border-top-left-radius: 8px;
border-bottom-left-radius: 8px;
box-shadow: 0px 0px 28px rgb(0,0,0,0.0);
}
#app_land_stack_14_rgt_phn_bdy_ico{
     width: 100%;
     height: 100%;
     border-top-left-radius: 8px;
border-bottom-left-radius: 8px;    

}


/*///////////////////////////////////////////////////////////////////////*/


#app_land_stack_17{
     width:90%;
     display: inline-flex;
     height: 100vh;
     margin-left: 5%;
     font-size:22px;
     font-weight: 700;
     padding-top: 100px;
     background-color: #1E90FF;
     
     z-index: 10;


}
#app_land_stack_17_lft{
width:50%;
padding:62px;
padding-left: 92px;
text-align: left;
height: 100%;
}
#app_land_stack_17_lft_tit{
     font-size: 58px;
     font-family: inter;
     color: #fefefe;

}
#app_land_stack_17_lft_tit_sub{
     font-family: quicksand;
     font-size: 22px;
     line-height: 170%;
     color: #fefefe;
     font-weight: 400;
}

#app_land_stack_17_rgt_ico{
     width: 100%;
}

#app_land_stack_17_rgt{
width:50%;
height: 100%;
font-size:22px;
}
#app_land_stack_17_rgt_bg{
position: absolute;
padding:22px;
}
#app_land_stack_17_rgt_bg_ico{
width: 100%;
display: none;
margin-left:100%;
}

#app_land_stack_17_rgt_bdy{
     width: 90%;
     height: 350px;
     border-radius: 12px;
     color:#fefefe;
     margin-top: 32px;
     line-height: 2;
     font-weight: 400;
     font-family: quicksand;
     font-size: 18px;
     

}

/*/////////////////////////////////////////////////////////////////////*/
#app_land_stack_16{
     background-color: #000000;
     height: 500px;
     width: 100%;
     padding-top:82px;
     padding-bottom: 82px;
     display: flex;
     justify-content: center;
     align-items: center;
}
#app_land_stack_16_bg{    
background: linear-gradient(134.27deg, rgba(196, 196, 196, 0) 13.63%, rgba(255, 255, 255, 0.29) 100%);
     position: absolute;
     width: 150px;
     height: 150px;
     border-radius: 320px;
     margin:50px;
     
}

#app_land_stack_16_pro{
     width: 92px;
     height: 92px;
     border-radius: 320px;
     
}
#app_land_stack_16_pro_ico{
     width: 100%;
     height: 100%;
     border-radius: 320px;
     border-style: none;
     outline: none;
}

#app_land_stack_16_cont{
     width: 50%;
}

#app_land_stack_16_data{
     margin-top:22px;
     font-family:Crimson Text;
     color: #fefefe;
     font-size: 42px;
}
#app_land_stack_16_name{
     color:#fefefe;
     margin-top: 10px;
     font-size: 20px;
}    
#app_land_stack_16_tit{
     color:#fefefe;
}


/*/////////////////////////////////////////////////*/

#app_land_stack_15{
     width:100%;
     display: inline-block;
     height: auto;
     font-size:22px;
     margin: 0px;
     padding: 0px;
     font-weight: 700;
     padding-top: 82px;
     padding-bottom: 82px;
     
     position: relative;
}

#app_land_stack_15_slop{
     height: 200px;
     width: 100%;
     position: absolute;
     bottom: 0;
     background-color:#fefefe;
     z-index: -10;
     transform: skewY(-7.5deg);
     transform-origin: 100%;    
}

#app_land_stack_15_lft{
width:100%;
padding-top: 62px;
text-align: left;
height: 100%;
}
#app_land_stack_15_lft_tit{
     font-size: 42px;
     font-family: roboto;
     color: #37364D;
     display: flex;
     justify-content: center;
     align-items: center;
     padding-bottom:10px;
}
#app_land_stack_15_lft_tit_sub{
     font-family: quicksand;
     font-size: 21px;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     line-height: 170%;
     font-weight: 400;
}


#app_land_stack_15_lft_tit_data{
     color:#3EDC80;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     width: 100%; 
     padding-top:22px;  
}


.app_land_stack_15_lft_1_class{
     position: relative;
     width: 22%;
     height: 430px;
     margin:22px;
     border-radius: 8px;
     background-color: #fefefe;
     border: 1px solid #e0e0e0;
}

.app_land_stack_15_lft_1_class:hover{
     text-decoration: none;
     animation-name: price_lay;
     animation-duration: 0.5s;
     animation-fill-mode: forwards;
}

@keyframes price_lay {
     from {
          box-shadow: 0px 0px 0px rgb(0, 0, 0,0.1);
     }
     to {
          box-shadow: 0px 0px 20px rgb(0, 0, 0,0.1);

     }
   }

.app_land_stack_15_lft_1_class_tit{
 color:#37364D;    
 padding:22px;
 padding-top: 32px;
 font-family: quicksand;
 border-bottom: 1px solid #e0e0e0;
}
.app_land_stack_15_lft_1_class_data{
color: #2549AF;
font-family: quicksand;
font-size: 17px;
font-weight: 400;
margin-top: 12px;
}

.app_land_stack_15_lft_1_class_data_sub{
     color: #37364D;
font-family: quicksand;
font-size: 16px;
margin-top: 32px;
padding:20px;
padding-top: 10px;
font-weight: 400;
}
.app_land_stack_15_lft_1_class_data_cost{
 font-family: inter;
     font-size: 62px;  
       
}
.app_land_stack_15_lft_1_get_butt{
     width: 100%;
     height: auto;
     margin-top: 10px;

     position: absolute;
     bottom: 0;
     margin-bottom:28px;
}
.app_land_stack_15_lft_1_get_butt_lnk{
     border: 1px solid #2549AF;
     font-family: quicksand;
     font-weight: 500;
     color: #2549AF;
     padding:7px;
     font-size: 17px;
     padding-left: 90px;
     padding-right: 90px;
     border-radius: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
     background-color: #fefefe;
}

.app_land_stack_15_lft_1_get_butt_lnk:hover{
     text-decoration: none;
     animation-name: contact_butt;
     animation-duration: 0.5s;
     animation-fill-mode: forwards;
}
@keyframes get_butt {
     from {
          background-color: #2549AF;
          color:#fefefe;
     }
     to {
          background-color: #fefefe;
          color:#2549AF;
          
     }
   }
   @keyframes contact_butt {
     from {
          background-color: #fefefe;
          color:#2549AF;
     }
     to {
          background-color: #2549AF;
          color:#fefefe;
          
          
     }
   }

.app_land_stack_15_lft_1_class_data_cost_butt_cont{
     position: absolute;
     width: 100%;
     bottom: 0;
     margin-bottom: 22px;
}

.app_land_stack_15_lft_1_class_data_cost_butt{
     border: 1px solid #2549AF;
    
     font-family: quicksand;
     font-weight: 500;
     color: #2549AF;
     padding:7px;
     font-size: 17px;
     padding-left: 90px;
     padding-right: 90px;
     border-radius: 7px;
  
    padding-bottom: 10px;
     background-color: #fefefe;

}
.app_land_stack_15_lft_1_class_data_cost_butt:hover{
     animation-name: contact_butt;
     animation-duration: 0.5s;
     animation-fill-mode: forwards;
}