@import url('https://fonts.googleapis.com/css2?family=Elsie&family=Quicksand:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
/*/////////////////////////////////////////////////////*/
@keyframes post_hover_anim {
    from {background-color: var(--post-bg-color)}
    to {
        background-color: var(--post-hov-color);
        border-bottom: 2px solid var(--app-primary-color);
    }
  }


#home_left_cor_des{
    position: fixed;
    width: 300px;
    height: 300px;
    left: 0;
    top:0;

}

.home_post_bdy_class{
    
    display: flex;
    flex-flow: column;
    width: 100%;
    height:auto;

    background-color: var( --post-bg-color);
    border-bottom:2px solid var(--main-bord-color);
    cursor: pointer;
}

.home_post_bdy_class:hover{
     animation-name: post_hover_anim;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.home_post_bdy_class_tit_cont{
    width:100%;
    height: 100%;
  
    padding-top: 9px;
    padding-bottom: 9px;    
    display: inline-flex;
}
.home_post_bdy_class_like_cont_tit{
    color: #8D8D8D;
    font-size: 15px;
    font-family: inter;
    vertical-align: middle;
    margin-left: 5px;
    font-weight: 400;
    
}



.home_post_bdy_more_class{
    flex: 1;
    margin-right: 12px;
    text-align: end;
    
    }
    #dropdown_basic_button_cus{
        margin-top: 5px;
        border-radius: 32px;
        background-color: rgb(0, 0, 0,0.0);
        border-style: none;
        color: var(--post-text-color);
    }
    .home_post_bdy_more_img_class{
        background-color: rgb(0, 0, 0,0.0);
        border-style: none;
        height: 100%;
    }
    .home_post_bdy_more_img{
        width:26px;
        vertical-align: middle;
    }

.home_post_bdy_class_bdy_cont{
    width:100%;
    height: 100%;
    
}
#home_post_bdy_class_bdy_cont_img{
    width:100%;
    margin-top: 2%;
    height: 100%;
    border: 1px solid var(--main-bord-color);
    object-fit: cover;

}
.home_post_bdy_class_tit_cont_img{
    width: 42px;
    height: 42px;
    border-radius: 32px;
    margin-top: 4px;
    margin-left: 22px;
    vertical-align: middle;
    

}
#home_post_bdy_class_tit_cont_nam{
    height: 100%;
    color:var(--post-text-color);
    font-family: inter;
    font-size: 15px;
    margin-left: 15px;
    margin-top: 5px;
    font-weight: 600;
    vertical-align: middle;
}

#home_post_bdy_class_tit_cont_abut_data{
    color:#8D8D8D;
    font-weight: 600;
    margin-left: 10px;
    font-size: 12px;
}

.home_post_foot_main_class{
    padding-top:0px;
    margin-top: 0px;
    padding-bottom: 12px;
}

.home_post_foot_class{
    height: 100%;
    width: 100%;
    margin-right: 22px;
    display: inline-flex;
}


.home_post_disc{
    color:var(--post-text-color);
    border-left: 4px solid var(--app-primary-color);
    margin-left: 24px;
    padding-left: 12px;
    padding-top: 18px;
    padding-right: 12px;
    margin-bottom: 12px;
    font-family: quicksand;
    }
    


.home_post_foot_like_class{
display: inline-flexbox;
width: 15%;
min-width: 100px;
padding-left: 12px;
}
.home_post_foot_comm_class{
    display: inline;
    text-align: center;
    width: 70%;
    
}

.home_post_foot_fill{
    display: inline;
}
.home_post_foot_book_class{
    display: inline;
    width: 15%; 
    text-align: end;
    float: right;
    justify-content: flex-end;
    align-items: flex-end;

    padding-right: 12px;
}
.home_post_bdy_class_like_cont{
    cursor: pointer;
    background-color: rgb(0, 0, 0,0.0);
border-style: none  ;
border-radius: 32px;

}
.home_post_bdy_class_like_cont:hover{
    color:#EB5757;
    
}

.home_post_bdy_class_like_cont_img{
    width: 24px;
    vertical-align: middle;
}

.home_post_bdy_class_tit_cont_nam_tit{
    font-size: 17px;
    font-family: quicksand;
}
.home_post_bdy_class_tit_cont_abut_tit{
    font-family: quicksand;
    font-weight: 500;
    font-size: 14px;
    margin-top: 0px;
    color:var(--app-primary-color);
}

.home_post_bdy_class_tit_cont_abut_tit:hover{
    text-decoration: underline;

}
.dropdown_basic_button_item{

}


/*///////////////////////////////////////////////////////////////*/

@media screen and (max-width: 650px) {
    .home_post_bdy_class_tit_cont_nam_tit{
        font-size: 15px;
    }
    .home_post_bdy_class_tit_cont_abut_tit{
        font-weight: 500;
        font-size: 13px;
    }   
    .home_post_disc{
        font-size: 15px;
    font-family: quicksand;
    }
    

}