    #home_app_pro_cont
    {
        min-height: 200vh;
        background-color: var(--main-bg-color);
    }
    #home_app_pro_header_cont{
        padding: 10px;    
        height: auto;
        position: fixed;
        min-width: 400px;
        width: 40%;
        z-index: 20;
        background-color: var(--main-bg-color);
        border-bottom: 1px solid var(--app-primary-color);
    }
    #home_app_pro_header_back_ico{
        fill: var(--app-primary-color);
        width: 27px;
        height: 27px;
        color:var(--app-primary-color);
    }
    #home_app_pro_header_back_cont{
        display: inline;
        width: 32px;
    height: 32px;       
    padding: 5px;
    border-radius: 360px;
    }
    #home_app_pro_header_back_lnk{

    }

    #home_app_pro_header_back_cont:hover{
        background-color: var(--post-hov-color);
    }
    #home_app_pro_header_pro_name{
        display: inline-block;
        font-size: 20px;    
        height: fit-content; 
        margin-left: 16px;
        font-family: quicksand;
        font-weight: 600;
        width: fit-content;  
        color:var(--main-tit-color);
    }
    #home_app_pro_bdy_cont{
    
    }

    #home_app_pro_bdy_cover_cont{
    height: 300px;
    width: 100%;
    
    }
    #home_app_pro_bdy_cover{
        width: 100%;
        height: 100%;
        background-color: var(--app-primary-color);
    }
    #home_app_pro_bdy_pro_pic_main_cont{
        width: 100%;
        height: auto;
        display: flex;
        margin-top: -100px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #home_app_pro_bdy_pro_pic_cont{
        width: 50%;
        height: 150px;
        margin: 0px;

        padding: 0px;
        
    }
    #home_app_pro_bdy_pro_pic_img{
        width: 200px;
        height: 200px;
        justify-content: center;
        align-items: center;
        border-radius: 360px;
        border:5px solid var(--main-bg-color);
        object-fit: fill;
    }
    #home_app_pro_bdy_pro_butt_cont{
    margin-top: 5px;   
    display: inline-flex;     
    }
    #home_app_pro_bdy_pro_butt{
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: var(--main-bg-color);
        border: 2px solid var(--app-primary-color);
        font-family: quicksand;
        border-radius: 32px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: 600;
        color:var(--app-primary-color);

    }
    #home_app_pro_bdy_pro_butt:hover{
        background-color: var(--app-primary-color);
        color:#fefefe;
    }
    #home_app_pro_bdy_pro_more_butt{
        background-color: var(--main-search-bar-color);
        border-radius: 360px;
        border-style: none;
        padding: 0px;
        margin: 0px;
        padding: 5px;
        margin-right: 10px;
        
    }
    #home_app_pro_bdy_pro_more_butt_ico{
        fill: var(--app-primary-color);
        width: 27px;
        height: 27px;
        color:var(--app-primary-color);
    }
    #home_app_pro_des_main_cont{
        width: 100%;
        padding-left: 25px;
        padding-bottom: 15px;
        padding-right: 25px;
        background-color: var(--main-bg-color);
        margin-top: 112px;
        color:var(--main-tit-color);
        font-family: quicksand;
        font-size: 16px;
    
    }
    #home_app_pro_header_pro_name_tit{
        font-size: 16px;
    }
    #home_app_pro_header_pro_id_tit{
        font-size: 14px;
        font-weight: 600;
        color:var(--app-primary-color);
    }
    .home_app_pro_tab_main_cont{
        display: flex;
        width: 100%;
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 12px;
        justify-content: space-between;   

        background-color: var(--main-bg-color);
        border-color: var(--main-bord-color);
        border-top: 1px solid var(--main-bord-color);
    }
    .home_app_pro_tab_1{
        
    }
    .home_app_pro_tab_2{


    }
    .home_app_pro_tab_3{


    }
    